{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "assets/css/checkout.css"%}" />
{% endblock %}

{% block content %}
<h1>Оформление заказа</h1>

<form method="post" action="{% url 'checkout:create_order' %}">
    {% csrf_token %}
    <section>
        <div class="row">
            <div class="col-md-8" style="width: 60%; padding-right: 20px;">
                <div><h2>Данные заказа</h2></div>
                {% for field in form %}
                    {% if field.name != 'payment_method' %}
                        <div class="form-group">
                            {{ field.label_tag }}{{ field }}
                            <div class="text-danger error-message">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4" style="width: 40%;">
                <h2>Информация о товаре</h2>
                <div class="item-info">
                    <h3>{{ item.title }}</h3>
                    <p>Цена: {{ item.price }}</p>
                    <p>Количество: {{ quantity }}</p>
                </div>
                <div><h2>Выберите способ оплаты</h2></div>
                {{ form.payment_method }}
                <!-- Всплывающее окно для опции "Картой онлайн" -->
                {% include 'checkout/popup.html' %}
            </div>
        </section>
        <div class="actions" style="text-align: justify; margin-top: 100px;">
            <input type="reset" value="Сбросить" style="float: left;">
            <input type="submit" value="Оформить заказ" class="primary" style="float: right;">
        </div>
    </form>
{% endblock %}

{% block js %}
<script src="{% static "assets/js/checkout.js"%}></script>
<!-- PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script src="{% static "assets/js/payment.js"%}></script>
{% endblock %}
